body {
  background-color: #eff4f5;
  color: #5f5c5c;
  padding-top: 5rem;
  padding: 3rem 1.5rem;
  text-align: center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container{
  margin-top: 50px;
}
.navbar-brand{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-shadow: 3px 3px blue;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
table{
  width: 100%;
  margin-top: 10px;
}
table, th, tr {
  border: 1px solid rgb(212, 210, 210);
}
table th{
  font-size: 18px;
  color: rgb(7, 60, 112);
}

tr:nth-child(even) {
  background: #e4e2e2;
}
 .a li:hover > ul{
   color: blue;
   background-color: white;

  
  
}