{% extends 'base.html' %}
<!-- {% load crispy_forms_tags%} -->
{% load static %}
{% block content %}



<div class="container">
  <header><h3>This is a list of all member who have contributed to <span id="hm">KHUMBULEKHAYA</span> </h3></header>
     </div>
          <div class="container" >
                               
             <table>
                  <tr>
                     <th>id</th> 
                     <th>Name</th> 
                     <th>admin</th>                      
                  </tr>
                 {% for item in payments %}
                  <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.Name}}</td>                                      
                    <td>{{item.Admin}}</td>
                    
                  </tr>   
                 {% endfor %}

              </table>

              
          </div>      
     </div>                 
 </div>    
 {% endblock %}